{% extends 'base.html.twig' %}

{% block body %}

    <section class="container-fluid hello"> 
    	<h1 class="text-center">Annonce {{ annonce.titre }}</h1>
			<div class="row">
    			<div class="col-xs-12 col-sm-12">
    				<div class="col-xs-3 col-sm-3"></div>
						<div class="col-xs-6 col-sm-6">
    						<div class="thumbnail test">
        						<img width="850px" height="300px" src="{{ vich_uploader_asset(annonce, 'photoFile') }}">        
        							<div class="caption text">
        								<h3>{{ annonce.titre }}</h3>
								            <tr>
								                <th>Annonce N°</th>
								                <td>{{ annonce.id }}</td><br>
								            </tr>
								            <tr>
								                <th>Titre : </th>
								                <td>{{ annonce.titre }}</td><br>
								            </tr>
								            <tr>
								                <th>Prix : </th>
								                <td>{{ annonce.prix }} € </td><br>
								            </tr>
								            <tr>
								                <th>Nbpieces : </th>
								                <td>{{ annonce.nbPieces }}</td><br>
								            </tr>
								            <tr>
								                <th>Description : </th>
								                <td>{{ annonce.description }}</td><br>
								            </tr>
        							</div>
    						</div>    
						</div>
					<div class="col-xs-3 col-sm-3"></div>
    			</div>
			</div>    
	</section>

{% endblock %}